/*-------------------------------------------------------------------------------------------
Misc Helpers
--------------------------------------------------------------------------------------------*/
.left { float: left !important; }
.right { float: right !important; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.hide { display: none; }
.invisible { visibility: hidden; }
.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/*-------------------------------------------------------------------------------------------
Google Maps
--------------------------------------------------------------------------------------------*/
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object { max-width: none !important; }